NodeRed_Diplom
[{"id":"4a63608.fb59ca","type":"dashDB in","z":"30ec3457.cf13cc","service":"dashDB-6h","query":"DELETE FROM IOT_N WHERE ID<=(SELECT max(ID) FROM IOT_N)-40;","params":"","name":"DLELETE OLD","x":503,"y":555.5,"wires":[["731ea337.8ce15c"]]},{"id":"731ea337.8ce15c","type":"debug","z":"30ec3457.cf13cc","name":"","active":false,"console":"false","complete":"false","x":739,"y":556,"wires":[]},{"id":"b8303178.47cfd","type":"inject","z":"30ec3457.cf13cc","name":"Clear table","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":263,"y":556.5,"wires":[["4a63608.fb59ca"]]},{"id":"2cff9557.d3006a","type":"dashDB in","z":"30ec3457.cf13cc","service":"dashDB-6h","query":"SELECT TS,TEMP from IOT_N ORDER BY TS;","params":"","name":"Forecast","x":475.0000305175781,"y":772.9999694824219,"wires":[["ebec53ae.1413b","697df107.96821"]]},{"id":"7854057c.87abfc","type":"http in","z":"30ec3457.cf13cc","name":"/graphic","url":"/graphic","method":"get","swaggerDoc":"","x":260.5500793457031,"y":773.7167663574219,"wires":[["2cff9557.d3006a"]]},{"id":"9e94a6a9.616b58","type":"template","z":"30ec3457.cf13cc","name":"","field":"payload","fieldType":"msg","format":"html","template":"<html>\n  <head>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load('current', {'packages':['corechart']});\n      google.charts.setOnLoadCallback(drawChart);\n      function drawChart() {\n        var data = google.visualization.arrayToDataTable({{{payload}}});\n        var options = {\n          title: 'Сотояние датчика #1',\n          curveType: 'function',\n          interpolateNulls: 'true',\n          refreshInterval: 10,\n          legend: { position: 'bottom' }\n        };\n        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));\n        chart.draw(data, options);\n      }\n    </script>\n    <meta http-equiv=\"refresh\" content=\"10\">\n  </head>\n  <body>\n    <div id=\"curve_chart\" style=\"width: 1200px; height: 600px\"></div>\n    <div>\n    <p>LOSA</p>\n  </div>\n  </body>\n</html>","x":849.666748046875,"y":772.3998718261719,"wires":[["c16d484b.3e92b8","46dd80a4.b9228"]]},{"id":"ebec53ae.1413b","type":"debug","z":"30ec3457.cf13cc","name":"","active":false,"console":"false","complete":"false","x":659.6667785644531,"y":960.4331665039062,"wires":[]},{"id":"c16d484b.3e92b8","type":"debug","z":"30ec3457.cf13cc","name":"","active":true,"console":"false","complete":"false","x":924.6667938232422,"y":954.4340515136719,"wires":[]},{"id":"7fb946f4.8046b8","type":"inject","z":"30ec3457.cf13cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":224.666748046875,"y":694.6831665039062,"wires":[["2cff9557.d3006a"]]},{"id":"697df107.96821","type":"function","z":"30ec3457.cf13cc","name":"","func":"function pad(n) { return n < 10 ? '0' + n : n };\nfunction isoDate(msSinceEpoch) {\n\n   var d = new Date(msSinceEpoch);\n   \n   return Date(d.getUTCFullYear()+','+pad(d.getUTCMonth() + 1)+','+ pad(d.getUTCDate())+','+pad(d.getUTCHours()) + ',' + pad(d.getUTCMinutes()) + ',' + pad(d.getUTCSeconds())+'');\n}\n    \nvar cont = msg.payload;\n    var result = \"[['Дата/Время', 'Температура', 'Расчетная температура'],\";\n    for(var i=0; i<cont.length - 1; i++) {\n        date = isoDate(cont[i].TS);\n        result += \"\\n['\"+date+\"',\"+cont[i].TEMP+\",\"+cont[i].TEMP+\"],\";\n        \n        \n    }\n    date = isoDate(cont[i].TS);\n    result += \"\\n['\"+date+\"',\"+cont[i].TEMP+\",\"+cont[i].TEMP+\"]]\";\nmsg.payload = result;\nreturn msg;\n","outputs":1,"noerr":0,"x":662.6667785644531,"y":773.4164733886719,"wires":[["9e94a6a9.616b58","88108549.77ef78"]]},{"id":"88108549.77ef78","type":"debug","z":"30ec3457.cf13cc","name":"","active":false,"console":"false","complete":"payload","x":869.666748046875,"y":663.133056640625,"wires":[]},{"id":"5045341c.afbacc","type":"ibmiot in","z":"30ec3457.cf13cc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"b827ebe69868","applicationId":"","deviceType":"MQTTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":328,"y":273,"wires":[["3ba745d.fc458ba","c21f8d9.f3de07","b39402bf.4c6c"]]},{"id":"c21f8d9.f3de07","type":"function","z":"30ec3457.cf13cc","name":"temperature_sensor","func":"return {payload:msg.payload.temperature_sensor};","outputs":1,"noerr":0,"x":618.5,"y":315,"wires":[["7e4823f1.81b7dc","380b51e.fc7f4ae"]]},{"id":"7e4823f1.81b7dc","type":"switch","z":"30ec3457.cf13cc","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":806.5,"y":429,"wires":[["98e22160.671de"],["a6f05447.590fa8"]]},{"id":"df1436bd.20ebc8","type":"debug","z":"30ec3457.cf13cc","name":"cpu status","active":false,"complete":"payload","x":1238.5,"y":397,"wires":[]},{"id":"3ba745d.fc458ba","type":"debug","z":"30ec3457.cf13cc","name":"device data","active":false,"console":"false","complete":"true","x":585.5,"y":225,"wires":[]},{"id":"98e22160.671de","type":"template","z":"30ec3457.cf13cc","name":"safe","fieldType":"msg","template":"Temperature ({{payload}}) within safe limits","x":1073.5,"y":398,"wires":[["df1436bd.20ebc8"]]},{"id":"a6f05447.590fa8","type":"template","z":"30ec3457.cf13cc","name":"danger","template":"Temperature ({{payload}}) critical","x":1078.5,"y":443,"wires":[["df1436bd.20ebc8"]]},{"id":"b39402bf.4c6c","type":"function","z":"30ec3457.cf13cc","name":"DATABD","func":"var interval = (1000*5); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime < interval) {\n  return null;\n} \nelse\n{\n    context.lastTime = now;\n    msg.payload =\n    {\n        TS : 'TIMESTAMP',\n        TEMP : msg.payload.temperature_sensor,\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":576,"y":110.5,"wires":[["b267a46d.4d9858"]]},{"id":"380b51e.fc7f4ae","type":"debug","z":"30ec3457.cf13cc","name":"","active":false,"console":"false","complete":"false","x":807,"y":225,"wires":[]},{"id":"b267a46d.4d9858","type":"dashDB out","z":"30ec3457.cf13cc","service":"dashDB-6h","table":"IOT_N","name":"IOT_N","x":808,"y":110,"wires":[]},{"id":"46dd80a4.b9228","type":"http response","z":"30ec3457.cf13cc","name":"ok","x":1077.0000305175781,"y":770.9999694824219,"wires":[]}]
